* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.parent{
    display: flex;
    height: 100vh;
    border: 1px solid #ccc;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
}
