* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
}

.logo span {
    font-weight: normal;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #ed0000;
    font-size: 16px;
}

.nav-links a:hover {
    color: #00fb08;
}

.cta {
    background-color: #4701a8;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
}

.cta:hover {
    background-color: #3700B3;
}
